<a href="https://colab.research.google.com/github/msayeshasiddikatonny/CSE101_LabAssignment_Spring2024_Python/blob/main/CSE101_LAB_05_Function_classwork_Spring24_Mine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is a function?
A function is a block of code which will only run when it is called.

**There are 4 types of functions.**
*   Built-in function
*   User-Defined function
*   Lambda function
*   Recursive function

**A function has 4 parts.**
1. Function Name
2. Parameter List
3. Body of the function
4. Return Statement

### We have already used built-in functions like print(), input() etc. Now we will learn user-defined functions.

An example of Lambda function & recurrsion are shown at the end of the lab.

In [ ]:
def CSE101(Student_Count):
  if Student_Count<10:
    print('Very bad')
  elif Student_Count<15:
    print('Moderate')
  else:
    print('Very Good')

CSE101(21)

Very Good

In [ ]:
Student_Count=21
if Student_Count<10:
    print('Very bad')
elif Student_Count<15:
    print('Moderate')
else:
    print('Very Good')

Very Good

In [ ]:
def CSE101(Student_Count):

  if Student_Count<10:
    return 'Very bad'
  elif Student_Count<15:
     return 'Moderate'
  else:
   return'Very Good'

comment=CSE101(14)
print(comment)

Moderate

In [ ]:
def as_ur_wish_sum_of_quizzes(a,b,c,d,e):
  sum=a+b+c+d+e
  return sum

arghajit=as_ur_wish_sum_of_quizzes(13,10,15,10,12)
print(arghajit)
eza=as_ur_wish_sum_of_quizzes(14,13,15,12,14)
print("Eza er marks",eza)

60
Eza er marks 68

In [ ]:
def as_ur_wish_sum_of_quizzes(a,b,c,d,e):
  eza=a+b+c+d+e
  print(eza)

as_ur_wish_sum_of_quizzes(14,13,15,12,14)

68

In [ ]:
def as_ur_wish_sum(a,b,c,d,e):
  sum=a+b+c+d+e
  print(sum)

as_ur_wish_sum(13,20,30,49,90)

202

In [ ]:
def as_ur_wish_sum(a,b,c,d,e):
  sum=a+b+c+d+e
  return sum

ishtiak=as_ur_wish_sum(1,2,3,4,5)
print(ishtiak)

15

In [ ]:
def as_ur_wish_sum(a,b,c,d,e):
  sum=a+b+c+d+e
  return sum

sadman=as_ur_wish_sum(3,5,7,9,11)
print(sadman)

35

## TASK 1 : Learning how to call a function.
Write a function to print "Hello everyone! I love CSE101 Labs". Complete the function and call it to show the output.

In [ ]:
#Your code here
def Hello():
  print("Hello everyone! I love CSE101 Labs")

Hello()

Hello everyone! I love CSE101 Labs

In [ ]:


def CSE():
  print("Hello everyone! I love CSE101 Labs")

CSE()

Hello everyone! I love CSE101 Labs

## Task 2: Multiple Parameter
Take two numbers from the user. Now, Find out the square of the addition of 2 values using a function and print the output according to the following statement.

$$ (a+b)^2 = a^2 + 2ab + b^2 $$

---
**Example:**

input: a = 9, b = 5

output: The result of the calculation is 196.

In [ ]:
#Your code here
def find_square(a, b):
  f=a**2+2*a*b+b**2
  print("The result of the calculation is",f)

x=int(input('enter first number: ')  )
y=int(input('enter second number: ')  )

find_square(x , y)

enter first number: 10
enter second number: 12
The result of the calculation is 484

In [ ]:
#Your code here
x=int(input('enter first number: ')  )
y=int(input('enter second number: ')  )

find_square(x , y)

def find_square(a, b):



  f=a**2+2*a*b+b**2
  print("The result of the calculation is",f)

In [ ]:
#Your code here
def find_square(a, b):
  eq=a**2+2*a*b+b**2
  return eq

ayesha=int(input('enter first number: ')  )
lamiha=int(input('enter second number: ')  )

result=find_square(ayesha,lamiha)
print("The result of the calculation is",result)

enter first number: 9
enter second number: 5
The result of the calculation is 196

## Task 3: Return Statement

Write a function called show_palindrome that takes a number from the user and sends as an argument to the function. Then returns a palindrome string and prints the returned value in the function call.

---

**Example1:**

user input = 5

Function Call: show_palindrome(5)

Output: 123454321

---
**Example2:**

user input = 8

Function Call: show_palindrome(8)

Output: 123456787654321

---

In [ ]:
def show_palindrome(p):
  s=''
  for i in range(1,p+1,1):
    s=s+str(i)
  for i in range( p-1,0,-1):
    s=s+str(i)

  return s

user_input = int(input("enter a number"))
pal=show_palindrome(user_input)
print(pal)

enter a number9
12345678987654321

In [ ]:
#Your code here
def show_palindrome(x):
  s=""
  for i in range(1,x+1):
    s=s+str(i)
  for i in range( x-1,0,-1):
    s=s+str(i)
  return s
ayesha=int(input('enter first number: ')  )
print(show_palindrome(ayesha))

enter first number: 5
123454321

## Task 4

Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function.

---

Function Call: function_name('The quick Sand Man')

Output:

Number of Uppercase characters : 3

Number of Lowercase characters : 12

---
Function Call:  function_name('HaRRy PotteR')

Output:

Number of Uppercase characters : 5

Number of Lowercase Characters: 6

---

In [ ]:
#Your code here
def  function_name(s) :
  u=0
  l=0
  for i in s:
     if i >='a' and i<='z':
      l=l+1
     elif i >='A' and i<='Z':
      u=u+1
  print("Number of Uppercase characters : ",u)
  print("Number of Lowercase Characters:",l)
x=input("enter a string")
function_name(x)

enter a stringThe quick Sand Man
Number of Uppercase characters :  3
Number of Lowercase Characters: 12

## Task 5

Write a Python function that takes a string and reveses it.

---
**Example:**

Sample String : "1234abcd"

Expected Output : "dcba4321"

---

In [ ]:
#Your code here
def  function_name(s) :
  new_str=''
  for i in range(len(s)-1,-1,-1):
    new_str=new_str+s[i]
  print(new_str)

x=input("enter a string")
function_name(x)

enter a stringAyesHa
aHseyA

## Task 6 ##
Write a python program that will take a list of 5 numbers from the user. Then the list will be sent to a function to find the max and min value among the list and then return both values. after getting the values back, the code should show the difference among the two numbers.

The output should look like this:

---

**Example:**

x = [5, 56, 12, 87, 73]

Function Call: find_max(x)

Output: The difference is 82.

---

In [ ]:
 #Your code here
def find_max_min(l):
  max=-999999
  min=999999
  for i in l:
    if i>max:
      max=i
    if i<min:
      min=i
  return max,min

x = [5, 56, 12, 87, 73]
mx,mn=find_max_min(x)
result=mx-mn
print("The difference is",result)

The difference is 82

## Lambda Function

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

## Recursive Function

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6